<footer>
        <div class="footerSecciones">
            <ul class="footerMenu">
                MF WEB &copy; 2022
                <li><a href="https://www.incluyeme.com.ar/">Incluyeme.com.ar</a></li>
            </ul>
        </div>
    </footer>