<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email</title>
    <!-- usamos GOOGLE FONTS-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Pacifico">
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/enviado.css">
</head>

<body>

    <!-- HEADER......-->
    {{>header}}

    <!-- FORMULARIO......-->
    <section class="contenedorFlex">
        <div class="contenido">
            <section class="container">
                <div class="form">
                    <h3> Su mensaje ha sido enviado</h3>

                    <h4>¡Muchas gracias!</h4>
                </div>
            </section>
        </div>

    </section>



    <!--FOOTER-->
    {{>footer}}
    <!-- SCRIPTS......-->

    <script src="./js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
        integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
        crossorigin="anonymous"></script>
    <script src="./js/jquery-3.3.1.js"></script>

</body>

</html>